*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./bgc-coffee.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-color: rgb(105, 62, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
h1{
    margin-bottom: 15px;
    font-size: 50px;
    text-shadow: 4px 4px 6px rgba(179, 223, 90, 0.9);
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 320px;
}
.card-container,
.options,
.resultContainer{
    background-color: rgb(60,35,18);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(202, 199, 199, 0.1);
    max-width: 400px;
}
.calculate,
.input-number,
.select-option{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
.calculate{
    background-color: red;
    color: white;
    cursor: pointer;
}
#result{
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(202,199,0.1);
    color: white;
}
.card{
    width: 220px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(202,199,0.1);
    cursor: pointer;
}
.resultContainer{
    margin-top: 20px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 22px;
}
.gold-card{
    background-color: yellow;
}
.silver-card{
    background-color: #c0c0c0;
}
.regular-card{
    background-color: #fff;
}
.selected_card{
    transition: all 2s ease;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}